.statusBar {
	position:absolute;
	left:50%; 
	top: 40px;
	margin-left: -14px;
}
.circle {
	position:absolute; 
	height:5px; 
	width:5px; 
	border-radius:5px; 
	background-color:gray;
	z-index:10000
}
.cur {
	background-color:white;
}
#pvrScheduleList{
	margin:0;
	padding:0;
}
.pvrScheduleListli{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	width:17em;
	float:left;
}
#pvrScheduleList li>a  {
	background-color:transparent; 
	border-width:0px;
	text-decoration:none;
	padding:0.3em 0.2em;
}
.pvrScheduleItem{
	padding:0.3em 0.2em;
	display:block;
}

.pvrScheduleItem>div {
	border-width: 2px;
	border-color: white;
}

.pvrScheduleItem .check {
	border-color: #D0021B;
	border-width: 2px;
}

#recFilesList{
	margin:0;
	padding:0;
}
.recFilesListli{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	width:17em;
	float:left;
}
#recFilesList li>a  {
	background-color:transparent; 
	border-width:0px;
	text-decoration:none;
	padding:0.3em 0.2em;
}

.recordFileItem{
	padding:0.2em 0.5em;
	display:block;
}

.recordFileItem>div{
	border-width: 2px;
	border-color:white;
}

.recordFileItem .check {
	border-color: #D0021B;
	border-width: 2px;
}

.pvrItemImgDiv {
	max-width:20%;
	width:20%;
	height:48px;
	float:left;
	padding-right:2px;
}

.pvrItemRecDiv{
	width: 1em;
	height: 1em;
	top:0.7em;
	left:0.5em;
	position:absolute;
}
.pvrItemRecNow{
	opacity: 0;
	background-image: url('../img/icon-rec.gif');
	background-size: 15px 15px;
}

.pvrItemContent {
	overflow:hidden;
	position:relative;
}

.pvrItemInfoDiv {
	background-color:#f9f9fa;
	width:78%;
	height:4em;
	float:left;
	padding:1px 1px;
	overflow:hidden;
}

.pvrItemInfoDiv ul li {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.recFileItemInfoDiv {
	background-color:#f9f9fa;
	padding:2px 2px;
	overflow:hidden;
}

.recFileItemInfoDiv ul li {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.pvrItemInfoDiv ul,  .recFileItemInfoDiv ul{
	list-style-type: none;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:12px;
	line-height:18px;
	font-weight:normal;
	font-size:14px;
}

.pvrItemMaskDiv {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
	display:none;
}

.pvrItemCheckBox {
	position:absolute;
	top: 0.5em;
	right: 0.5em;
	width: 25px;
	height:25px;
	z-index:0;
}

#twitterTopicList{
	padding:0;
	margin-top:0.3em;
	list-style:none;	
}

.twitterTopicListLi{
	cursor:pointer;
	margin-left:6px;
	padding:0;
	list-style:none;
	position:relative;
	height:8em;
	width:17em;
	float:left;
}

.catchUpTopicMaskDiv{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
}

.catchUpTopicCheckBox {
	position:absolute;
	top: 0.5em;
	height:0.5em;
	right: 0.5em;
	width: 25px;
	height:25px;
}
.catchUpPVRScheduleItem {
	background-color:white;
}

.catchUpItemMaskDiv {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
}

.catchUpItemCheckBox {
	position:absolute;
	top: 0.5em;
	right: 0.5em;
	width: 25px;
	height:25px;
	z-index:0;
}