.statusBar {
	position:absolute;
	left:50%; 
	top: 40px;
	margin-left: -14px;
}
.circle {
	position:absolute; 
	height:5px; 
	width:5px; 
	border-radius:5px; 
	background-color:gray;
	z-index:10000
}
.cur {
	background-color:white;
}
#pvrScheduleList{
	margin:0;
	padding:0;
}
.pvrScheduleListli{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	width:17em;
	float:left;
}
#pvrScheduleList li>a  {
	background-color:transparent; 
	border-width:0px;
	text-decoration:none;
	padding:0.3em 0.2em;
}
.pvrScheduleItem{
	padding:0.3em 0.2em;
	display:block;
}

.pvrScheduleItem>div {
	border-width: 2px;
	border-color: white;
	background-color: white;
	color:black;
}

.pvrScheduleItem .check {
	border-color: #D0021B;
	border-width: 2px;
}

#recFilesList{
	margin:0;
	padding:0;
}
.recFilesListli{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	width:17em;
	float:left;
}
#recFilesList li>a  {
	background-color:transparent; 
	border-width:0px;
	text-decoration:none;
	padding:0.3em 0.2em;
}

.recordFileItem{
	padding:0.2em 0.5em;
	display:block;
}

.recordFileItem>div{
	border-width: 2px;
	border-color:white;
	background-color: white;
	color:black;
}

.recordFileItem .check {
	border-color: #D0021B;
	border-width: 2px;
}

.pvrItemImgDiv {
	max-width:20%;
	width:20%;
	height:48px;
	float:left;
	padding-right:2px;
}

.pvrItemRecDiv{
	width: 1em;
	height: 1em;
	top:0.7em;
	left:0.5em;
	position:absolute;
}
.pvrItemRecNow{
	opacity: 0;
	background-image: url('../img/icon-rec.gif');
	background-size: 15px 15px;
}

.pvrItemContent {
	overflow:hidden;
	position:relative;
}

.pvrItemInfoDiv {
	background-color:#f9f9fa;
	width:78%;
	height:4em;
	float:left;
	padding:1px 1px;
	overflow:hidden;
}

.pvrItemInfoDiv ul li {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.recFileItemInfoDiv {
	background-color:#f9f9fa;
	padding:2px 2px;
	overflow:hidden;
}

.recFileItemInfoDiv ul li {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.pvrItemInfoDiv ul,  .recFileItemInfoDiv ul{
	list-style-type: none;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:12px;
	line-height:18px;
	font-weight:normal;
	font-size:14px;
}

.pvrItemMaskDiv {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
	display:none;
	z-index: 9999;
}

.pvrItemCheckBox {
	position:absolute;
	top: 0.3em;
	right: 0.5em;
	width: 2em;
	height:2em;
	z-index: 9999;
}

#catchUpTopicList{
	padding:0;
	margin-top:0.3em;
	list-style:none;	
}

.recordItemEditTable_recordItemPage span{
	color:white;
	text-shadow:none;
}

.catchUpTopicListLi{
	padding:0;
	position:relative;
	height:8em;
	width:17em;
	float:left;
}

.catchUpTopicItemDiv{
	height:6em;
	background-color:white;
	color: black;
	padding:0.5em 0.5em;
}

.catchUpTopicImgDiv{
	max-width:20%;
	width: 20%;
	height: 3em;
	float: left;
	padding-right: 0.1em;
	margin-top: 0.2em;
}
.catchUpTopicImgDiv>img{
	height:50px;
}

.catchUpTopicInfoDiv {
	width:78%;
	height:6em;
	float:left;
}
.catchUpTopicInfoTopic{
	font-size: 1.2em;
}
.catchUpTopicInfoDesDiv{
	line-height:130%;
	padding-top: 0.6em;
	background-color: #f5f5f7;
	height: 4em;
	padding-left: 0.5em;
	letter-spacing: 0.1em;
}
.catchUpTopicInfoDes{
	font-size: 0.9em;
}

.catchUpTopicMaskDiv{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
}

.catchUpTopicCheckBox {
	position:absolute;
	top: 0.3em;
	height:0.5em;
	right: 0.5em;
	width: 2em;
	height:2em;
}


.catchUpPVRScheduleLi
{
	padding:0.1em;
	width: 95%;
	margin-left: 5%;
}
.catchUpPVRScheduleItem {
	background-color:white;
	padding-left: 0;
	color: black;	
	height: auto;
	border:none;
}
.catchUpPVRScheduleItem{
	font-size:0.9em;
}
.catchUpItemMaskDiv {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
	z-index: 9999;
}

.catchUpItemCheckBox {
	position:absolute;
	top: 0.3em;
	right: 0.5em;
	width: 2em;
	height:2em;
	z-index:0;
}
.channelName{
	margin:0px;
}

.twitterImgDiv_catchUpPVRSchedulePage{
	height: 3.3em;
	width: 3.3em;
	background-color:#fff; 
	border-radius:0.6em;
	margin-top: 0.66em;
	margin-left: 0.55em;
	position: absolute;"	
}
.twitterImg_catchUpPVRSchedulePage{
	height:3em;
	width: 3em;
	border-radius: 0.6em;
	padding: 0.15em 0.15em;
	border:none;
}
#topic_catchUpPVRSchedulePage{
	 font-weight: bold;
	 font-size: 1.2em;
	 position: absolute;
	 margin-top: 1.2em;
	 margin-left: 3.5em; 
}
#descriptionDiv{
	 background-color: #f5f5f7;
	 width: 100%;
	 height: 7.5em;
	 margin-top: 1.875em;
	 line-height: 150%;
}
#description_catchUpPVRSchedulePage{
	 text-indent: o.5em; 
	 padding: 0.5em;
	 word-break:break-all;
	 word-wrap:normal;
}
#catchUpPVRScheduleList{
	list-style:none;
	padding:0;
	margin:0;
}
.channelIcon{
	padding-right: 0.5em;
}